@mixin btn-small($backColor, $borderColor, $textColor){
  font-family: Roboto;
  padding: 9px 20px;
  border-radius: 4px;
  background-color: $backColor;
  border: solid 1px $borderColor;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  color: $textColor;
  height:40px;
}

.btn-search{
  @include btn-small(#0053a3, transparent, #fff);
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}

@media only screen and (max-device-width: 375px) {
  .btn-search{
    width:50%;
    margin-top: 10px;
  }
}

@media only screen and (max-device-width: 768px) {

}