header{
  text-align: center;
  img{
    margin-top: 25px;
  }
}

@media only screen and (max-width: 375px) {
  header img{
    max-height: 90px;
  }
}

@media only screen and (max-device-width: 768px) {

}