section.news{
  margin-top: 10px !important;
  .sidebar{
    width: 50px;
    height: 5px;
    background-color: #191919;
    float: left;
    margin:0;
  }
  p{
    display: block;
    font-size: 14px;
    font-weight: 300;
    text-align: left;
    color: #191919;
    margin-top: 20px;
  }
  article{
    &::after{
      display: table;
      content: " ";
      clear: both;
    }
    .imagem{
      display: inline-block;
      width: 215px;
      height: 144px;
      background-repeat: no-repeat;
      -webkit-background-size:cover;
      background-size:cover;
    }
    .content {
      height: 144px;
      a{
        h1 {
          font-size: 20px;
          font-weight: bold;
          color: #666666;
          margin: 0;
        }
        &:hover{
          color: #565656;
        }
        &:focus{
          color: #565656;
        }
      }

      h2 {
        font-size: 14px;
        font-weight: 300;
        color: #666666;
        margin: 5px 0;
      }
      time {
        font-size: 10px;
        color: #666666;
        position: absolute;
        bottom: 0px;
      }
    }
  }
  .divisor{
    width:100%;
    height: 1px;
    background-color: #d8d8d8;
    margin:15px 0;
  }
}

@media only screen and (max-device-width: 375px) {
  .news{
    p{
      padding-top: 15px;
    }
    article{
      .imagem{
        width:100% !important;
        height:150px !important;
      }
    }
  }
}

@media only screen and (max-device-width: 768px) {
  .news{
    p{
      padding-top: 15px;
    }
  }
}