input, .select-da button{
  height: 40px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 300;
  color: #666666;
  border: solid 1px #e6e6e6;
  background-color: #fafafa;
}
.input-group{
  display: inline;
  input.input-search{
    width: 413px;
    padding:5px 0px 5px 40px;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
    &:focus{
      outline:none !important;
    }
    + label img{
      position: absolute;
      top: 0px;
      left: 15px;
    }
  }
}


.select-da{
  width:146px !important;
  button{
    padding: 5px;
    border-radius: 0px;
    border-left:none;
    &:hover{
      background: #fafafa;
      border-color: #e6e6e6;
    }
    &:focus{
      border-color: #e6e6e6;
    }
    .caret{
      color:#666666;
      border-top: 6px dashed;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      margin-top: -3px !important;
    }
  }
  &.open{
    button{
      background:#fff !important;
      box-shadow: none !important;
      border-bottom: none;
      border-color: #e6e6e6 !important;
      span{
        font-weight: 500;
        color: #191919;
      }
      .caret{
        color:#191919;
        border-bottom: 6px dashed;
        border-top: 0px;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        margin-top: -5px !important;
      }
    }
  }
  &.order{
    margin-left:5px !important;
    button{
      background:transparent;
      border:none;
      span{
        font-weight: 500;
        color: #191919;
      }
      .caret{
        right:20px !important;
      }
    }
    &.open{
      button{
        border:1px solid #e6e6e6;
        border-bottom: none;
        box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
      }

    }
  }
  .dropdown-menu{
    margin:0;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border:1px solid #e6e6e6;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14);
    border-top: none;
    li{
      a{
        font-family: Roboto;
        font-size: 14px;
        font-weight: 300;
        color: #666666;
        padding: 5px 20px 5px 5px;
      }

      &.selected {
        display: none;
      }
    }
  }
}

.select{
  display: inline;
}

.bootstrap-select .dropdown-toggle:focus{
  outline:none !important;
}

@media only screen and (max-device-width: 375px) {
  .search{
    margin-bottom: 10px;
    input.input-search{
      width:100%
    }
    .select-da{
      width:50% !important;
      button{
        border: 1px solid #e6e6e6;
      }
    }
  }
  .order{
    text-align: center;
  }
}

@media only screen and (max-device-width: 768px) {

}