@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
@import url('https://fonts.googleapis.com/css?family=Merriweather:300,300i,400,400i,700,700i,900,900i');
@import "search";
@import "button";
@import "header";
@import "news";

body{
  margin:0;
  font-family: "Roboto", sans-serif;
}

h1{
  font-family: 'Merriweather', sans-serif;
}

main{
  margin: 20px 0 0;
  section{
    max-width:675px;
    margin:0 auto;
    &.order{
      p{
        display: inline-block;
        font-size: 14px;
        font-weight: 300;
        color: #191919;
      }
    }
  }
}

.no-padding-left{
  padding-left:0;
}

.no-padding-right{
  padding-right:0;
}

@media only screen and (max-device-width: 375px) {
  .no-padding-left, .no-padding-right{
    padding: 0;
  }
}

@media only screen and (max-device-width: 768px) {
}